<div>
	<h1 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-tight text-inherit mb-4"  >
		Основы технологий беспроводных сетей
	</h1>
	<div class="text-container">
		<p>
			Основы технологий беспроводных сетей по стандартам 802.15 включают следующие аспекты:
			Стандарты 802.15 разработаны IEEE для беспроводных персональных сетей (WPAN).
			Они определяют протоколы и спецификации для различных технологий беспроводной связи.
		</p>
		<p>
			Bluetooth (802.15.1) - это технология беспроводной связи для краткодистанционных соединений между различными устройствами.
			Она работает в частотном диапазоне 2,4 ГГц и поддерживает низкопотребляющий режим.
			Bluetooth обеспечивает соединения точка-точка и многоточечные сети, и поддерживает передачу голоса и данных.
		</p>
		<img class="img-wrapper" src="@images/bluetooth.jpg" alt="" />
		<p>
			ZigBee (802.15.4) представляет собой протокол и стек протоколов для создания беспроводных сетей малого радиуса действия.
			Он работает в частотных диапазонах 2,4 ГГц, 868 МГц и 915 МГц.
			ZigBee обеспечивает низкую скорость передачи данных и низкое энергопотребление, что делает его идеальным для устройств,
			работающих от батареи, таких как датчики и устройства умного дома.
		</p>
		<img class="img-wrapper" src="@images/Zigbee_SmartHome.png" alt="" />
		<p>
			WirelessHART (802.15.4e) - это расширение стандарта ZigBee, разработанное специально для промышленных сетей автоматизации.
			Он предоставляет надежную беспроводную связь в промышленных средах с высоким уровнем помех и требованиями к надежности.
			WirelessHART работает в частотном диапазоне 2,4 ГГц и обеспечивает поддержку сетей с многоточечным доступом.
		</p>
		<img class="img-wrapper" src="@images/WirelessHART.jpg" alt="" />
		<p>
			Важно отметить, что каждая из этих технологий имеет свои особенности, протоколы и применение в различных сценариях.
			Они могут различаться по дальности связи, скорости передачи данных, энергопотреблению и многим другим параметрам,
			в зависимости от требований конкретного приложения.
		</p>
	</div>
</div>
