<div>
	<h1 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-tight text-inherit mb-4" >
		Технологии беспроводных сетей по стандарту 802.15.1
	</h1>
	<div class="text-container">
		<p>
			Стандарт 802.15.1, известный как Bluetooth, является одним из наиболее распространенных стандартов беспроводной связи
			с коротким радиусом действия. Вот некоторые технологии, связанные со стандартом 802.15.1:
		</p>
		<img class="img-wrapper" src="@images/bluetooth-iot-application.webp" alt="" />
		<p>
			1.Bluetooth Classic - это основная версия стандарта Bluetooth,
			которая предназначена для передачи данных между устройствами на расстоянии до 100 метров.
			Он обеспечивает надежную и энергоэффективную связь для широкого спектра устройств, таких как смартфоны, наушники,
			клавиатуры, мыши и др.
		</p>
		<p>
			2.Bluetooth Low Energy (BLE): BLE, также известный как Bluetooth Smart, представляет собой расширение стандарта Bluetooth,
			разработанное для поддержки устройств IoT и сенсорных сетей.
			BLE использует значительно меньше энергии, чем Bluetooth Classic, и предоставляет возможность длительной работы от батареи.
			Он широко используется в устройствах для здоровья и фитнеса, домашней автоматизации, умных часах и других устройствах,
			где требуется низкое энергопотребление.
		</p>
		<p>
			3.Bluetooth Mesh - это технология, основанная на стандарте Bluetooth,
			которая позволяет создавать сети из множества устройств, работающих в формате сети «сетка».
			Она отличается от классической технологии Bluetooth, которая обычно работает в точка-точка или точка-множество режиме.
			С помощью Bluetooth Mesh можно создавать распределенные сети устройств,
			где каждое устройство может служить узлом для передачи данных другим устройствам в сети.
			Такая топология сети позволяет достичь широкого покрытия и гибкости в управлении устройствами,
			что делает Bluetooth Mesh привлекательной для применений в умных домах, освещении, промышленности и других областях.
		</p>
		<p>
			4.Bluetooth Audio - позволяет передавать аудиосигналы через беспроводное соединение между устройствами.
			Это включает в себя передачу музыки с мобильных устройств на беспроводные наушники, динамики или автомобильные системы.
			Стандарт Bluetooth Audio поддерживает различные профили, такие как A2DP (Advanced Audio Distribution Profile), HFP (Hands-Free Profile) и другие,
			которые определяют спецификации для передачи аудиосигналов разного типа.
			Это позволяет потребителям наслаждаться беспроводным звуком высокого качества и обеспечивает удобство использования
			в различных ситуациях, от прослушивания музыки до проведения голосовых вызовов.
		</p>
		<p>
			5.Bluetooth Location Services - также предоставляет возможности для определения местоположения внутри помещений.
			С использованием Bluetooth Low Energy (BLE) и специальных маяков (beacons),
			устройства могут обмениваться сигналами и определять свое местоположение относительно ближайших маяков.
			Это открывает новые перспективы для навигации внутри зданий,
			умных систем безопасности, персонализированного маркетинга и других приложений,
			где важно знать местоположение устройства в реальном времени.
		</p>
		<p>
			Bluetooth поддерживает соединения типа точка-точка, также и соединения типа точка-многоточка.
			Два устройства или более, которые используют один и тот же канал образуют пикосеть (piconet).
			Одно из устройств работает как основное (мастер) (master), а остальные – как подчиненные (slave) устройства.
			В одной пикосети может быть до восьми активных подчиненных устройств,
			при этом остальные подчиненные устройства находятся в состоянии "парковки",
			которые синхронизированны с основным устройством. На расстоянии 10 м может существовать до 10 пикосетей.
		</p>
		<p>
			“Распределенную сеть” (scatternet) образуют взаимодействующие пикосети.
			В каждой пикосети действует только одно основное устройство, но подчиненные устройства могут входить в различные пикосети.
			Помимо этого, основное устройство одной пикосети может быть подчиненным устройством в другой.
		</p>
		<img class="img-wrapper" src="@images/points.png" alt="" />
		<p>
			Из этого следует, что в распределенную сеть могут объединяться столько Bluetooth устройств, сколько необходимо.
			Логические связи могут образовываться как это требуется и также могут изменяться, если это необходимо, как угодно.
			Но необходимо учесть, что различные пикосети, которые принадлежат одной разпределенной сети,
			должны иметь разные каналы связи (различные последовательности частотных скачков и работать на различных частотах).
			Частотные скачки - это регулярная смена частот, происходящая в определенной последовательности.
			В одной пикосети все устройства синхронизированы по времени и частотам.
			Последовательность скачков уникальна для каждой пикосети и она определяется адресом и часами ее основного устройства.
			Длина цикла псевдослучайной последовательности – 227 элементов.
		</p>
		<p>
			В сети Bluetooth устройства обмениваются данными в виде пакетов, которые передаются по радиоканалу.
			Радиоканал обладает полной пропускной способностью в 1 Мбит/с,
			что обеспечивает создание ассиметричного канала передачи данных на скоростях 723,3/57,6 Кбит/с
			или полнодуплексного канала на скорости 433,9 Кбит/с.
			Спецификация Bluetooth описывает пакетный способ передачи данных с временным мультиплексированием.
			Радиообмен происходит в полосе частот 2400 – 2483,5 МГц ISM-диапазона.
			В радиотракте применен метод расширения спектра путем скачкообразной перестройки частоты
			(FHSS – Fast rate frequency hoping) и двухуровневая частотная модуляция с фильтром Гаусса
			(GFSK - Gaussian Frequency Shift Keying). Метод частотных скачков подразумевает,
			что вся отведенная для передачи полоса частот подразделяется на определенное количество подканалов шириной 1 МГц каждый.
			Канал представляет собой псевдослучайную последовательность скачков по 79 или 23 радиочастотным подканалам.
			Каждый канал делится на временные сегменты продолжительностью 625 мкс,
			причем каждому сегменту соответствует определенный подканал.
			Таким образом происходит синхронизация передачи информации между устройствами и позволяет им работать
			вместе без конфликтов.
		</p>
		<p>
			Передатчик в каждый момент времени использует только один подканал.
			Эти скачки происходят синхронно в передатчике и приемнике в заранее зафиксированной псевдослучайной последовательности.
			За секунду может происходить до 1600 частотных скачков.
			Мощность передатчика делится на 3 класса: 1)100 mW (20 dBm) 2) 2.5 mW(4 dBm) 3) 1mW (0dBm).
			Такой метод обеспечивает конфиденциальность и некоторую помехозащищенность передач. Канал разделен на временные слоты,
			и каждое устройство имеет свое выделенное время для передачи данных.
			Это синхронизирует передачу информации между устройствами и позволяет им работать вместе без конфликтов
		</p>
		<img class="img-wrapper" src="@images/fhss.png" alt="" />
		<div class="text-wrapper">
			<p>
				1. Протокол Bluetooth может поддерживать асинхронный канал данных,
				до трех синхронных (с постоянной скоростью) голосовых каналов или канал с одновременной асинхронной передачей данных
				и синхронной передачей голоса. Скорость каждого голосового канала – 64 Кбит/с в каждом направлении,
				асинхронного в асимметричном режиме – до 723,2 Кбит/с в прямом и 57,6 кбит/с в обратном направлениях или до 433,9 Кбит/с
				в каждом направлении в симметричном режиме. В Bluetooth существует несколько типов кадров,
				которые используются для передачи данных и управления. Некоторые из наиболее распространенных кадров включают:
			</p>
			<p>
				- Кадры ACL (Asynchronous Connectionless): используются временные сегменты,
				не зарезервированные для синхронного соединения.
				Асинхронное соединение возможно между основным и всеми активными подчиненными устройствами в пикосети
				(точка - многоточка). Основное и подчиненное устройства могут поддерживать только одно асинхронное соединение.
				Поскольку в пикосети может быть несколько подчиненных устройств,
				конкретное подчиненное устройство отправляет пакет основному,
				только если в предыдущем временном интервале на его адрес пришел пакет от основного устройства.
				Если в адресном поле ACL-пакета адрес не указан,
				пакет считается “широковещательным” – его могут принимать все устройства.
				Асинхронное соединение позволяет повторно передавать пакеты, принятые с ошибками.
			</p>
			<p>
				- Кадры SCO (Synchronous Connection-Oriented) Синхронное соединение возможно только в режиме точка-точка.
				Такой вид связи применяется для передачи информации, чувствительной к задержкам – например, голоса.
				Основное устройство поддерживает до трех синхронных соединений,
				подчиненное – до трех синхронных соединений с одним основным устройством или до двух – с разными основными устройствами.
				При синхронном соединении основное устройство резервирует временные сегменты,
				следующие через так называемые SCO-интервалы. Даже если пакет принят с ошибкой,
				повторно при синхронном соединении он не передается.
			</p>
			<p>
				- Кадры L2CAP (Logical Link Control and Adaptation Protocol):
				Используются для управления и адаптации данных между различными протоколами верхних уровней.
				L2CAP обеспечивает возможности мультиплексирования, сегментации и объединения данных
			</p>
		</div>
		<p>
			2. Использование частот: Bluetooth работает на различных частотах, включая 2,4 ГГц ISM-диапазон
			(Индустриально-научно-медицинский диапазон).
			Этот диапазон разделен на различные каналы, каждый из которых имеет ширину полосы 1 МГц.
			Bluetooth использует метод частотного переключения, называемый "Frequency Hopping Spread Spectrum" (FHSS),
			который позволяет устройствам переключаться между различными частотными каналами,
			чтобы обеспечить надежную и устойчивую связь.
		</p>
		<div class="text-wrapper">
			<p>
				3. Протокольный стек Bluetooth: Протокольный стек Bluetooth состоит из нескольких уровней,
				каждый из которых выполняет определенные функции. Протокольный стек включает в себя следующие уровни:
			</p>
			<p>
				- Физический уровень (Physical Layer):
				Определяет способы передачи данных по беспроводному каналу, включая модуляцию и методы доступа к каналу.
			</p>
			<p>
				- Уровень доступа к среде (Medium Access Control, MAC): Обеспечивает управление доступом к каналу,
				управление связью и обеспечение надежности передачи данных
			</p>
			<p>
				- Протокол базовой полосы (Baseband Protocol): Определяет формат кадров и правила передачи данных на физическом уровне.
			</p>
			<p>
				- Протокол логической связи и адаптации (Logical Link Control and Adaptation Protocol, L2CAP):
				Обеспечивает управление мультиплексированием, сегментацией и объединением данных на логическом уровне.
			</p>
			<p>
				- Протоколы верхних уровней: Включают в себя различные протоколы, такие как RFCOMM (Radio Frequency Communication),
				которые обеспечивают поддержку сервисов, таких как передача портов и эмуляция последовательного порта.
			</p>
		</div>
		<img src="@images/Protocol.png" alt="">
		<p>
			Таким образом, технология беспроводных сетей по стандарту 802.15.1 (Bluetooth) использует различные типы кадров
			для передачи данных и управления,
			работает в 2,4 ГГц ISM-диапазоне с использованием метода частотного переключения (FHSS) и имеет протокольный стек,
			включающий физический уровень, уровень доступа к среде,
			протокол базовой полосы, протокол L2CAP и протоколы верхних уровней.
		</p>
		<p>
			Эти технологии Bluetooth стандарта 802.15.1 открывают широкий спектр возможностей для беспроводной связи
			и взаимодействия устройств. Они обеспечивают удобство использования, низкое энергопотребление,
			высокую надежность и гибкость в различных сценариях применения. Благодаря Bluetooth,
			мы можем наслаждаться безпроводной передачей аудио,
			создавать смарт-дома с автоматизированными системами безопасности и мониторинга,
			а также использовать технологии Bluetooth Mesh для создания гибких сетей умных устройств.
			Стандарт 802.15.1 Bluetooth продолжает развиваться,
			и мы можем ожидать еще более удивительных инноваций и применений в будущем.
		</p>
	</div>
</div>
