<div >
	<h1 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-tight text-inherit mb-4">
		Структура кадров Bluetooth
	</h1>
	<div class="text-container">
		<p>
			Существует несколько форматов кадров Bluetooth. В начале кадра указывается код доступа,
			который обычно служит идентификатором главного узла.
			Это позволяет двум главным узлам которые расположены достаточно близко,
			чтобы «слышать» друг друга, различать, кому из них предназначаются данные.
			Затем следует заголовок из 54 бит, в котором содержатся поля, характерные для кадра подуровня MAC.
			Если кадр отправляется с базовой скоростью, далее расположено поле данных.
			Его размер ограничен 2744 битами (для передачи за пять тактов). Если кадр имеет длину,
			соответствующую одному тактовому интервалу, то формат остается таким же, с той разницей,
			что поле данных в этом случае составляет 240 бит.
		</p>
		<img class="img-wrapper" src="@images/frames.png" alt="" />
		<p>
			Если кадр посылается на увеличенной скорости, часть данных может быть в два или три раза больше,
			потому что каждый символ переносит 2 или 3 бита вместо одного бита.
			Этим данным предшествуют защитный интервал и образец синхронизации, который используется,
			чтобы переключиться на более высокую скорость передачи данных.
		</p>
		<p>
			Таким образом, код доступа и заголовок передаются на базовой скорости,
			и только часть данных передается на большей скорости. Кадры с большей скоростью заканчиваются короткой меткой конца.
			Рассмотрим, из чего состоит обычный заголовок кадра. Поле Адрес идентифицирует одно из восьми устройств,
			которому предназначена информация.
		</p>
		<p>
			Поле Тип определяет тип передаваемого кадра (ACL, SCO, опрос или пустой кадр),
			метод коррекции ошибок и количество временных интервалов,
			из которых состоит кадр. Бит F (Flow —поток) выставляется подчиненным узлом и сообщает о том,
			что его буфер заполнен. Этот бит обеспечивает примитивную форму управления потоком.
			Бит A (Acknowledgement — подтверждение) представляет собой подтверждение (ACK), отсылаемое заодно с кадром.
			Бит S (Sequence — последовательность) используется для нумерации кадров, что позволяет обнаруживать повторные передачи.
		</p>
		<p>
			Это протокол с ожиданием, поэтому одного бита действительно оказывается достаточно.
			Далее следует 8-битная контрольная сумма заголовка. Весь 18-битный заголовок кадра повторяется трижды,
			что в итоге составляет 54 бита. На принимающей стороне несложная схема анализирует все три копии каждого бита.
			Если они совпадают, бит принимается таким, какой он есть.
		</p>
		<p>
			В противном случае все решает большинство. Как видите, на передачу 10 бит тратится в данном случае 54 бита.
			Причина очень проста: за все нужно платить. За обеспечение передачи данных с помощью дешевых,
			маломощных устройств (2,5 мВт) с невысокими вычислительными способностями приходится платить большой избыточностью.
			Для ACL- и SCO-кадров применяются различные форматы поля данных.
			В кадрах SCO с базовой скоростью кадры устроены просто: длина поля данных всегда равна 240 бит.
		</p>
		<p>
			Возможны три варианта: 80, 160 или 240 бит полезной информации.
			Подуровень управления доступом к среде оставшиеся биты поля данных используются для исправления ошибок.
			В самой надежной версии (80 бит полезной информации) одно и то же содержимое повторяется три раза
			(что и составляет 240 бит), как и в заголовке кадра. Мы можем вычислить емкость следующим образом.
			Поскольку подчиненные узлы могут использовать только нечетные временные интервалы, им достается 800 интервалов в секунду.
			Столько же получает и главный узел. При 80 битах полезных данных, передающихся в одном кадре,
			емкость канала подчиненного узла равна 64 000 бит/с. Этому же значению равна и емкость канала главного узла.
			Этого как раз хватает для организации полнодуплексного PCM-канала голосовой связи
			(именно поэтому 1600 скачков в секунду было выбрано в качестве скорости перестройки частот).
		</p>
		<p>
			Все эти цифры говорят о том, что полнодуплексный канал со скоростью 64 000 бит/с
			в каждую сторону при самом надежном способе передачи информации вполне устраивает пикосеть,
			невзирая на то, что суммарная скорость передачи данных на физическом уровне равна 1 Мбит/с.
			Эффективность 13% — результат расходов 41% емкости на время стабилизации, 20% на заголовки,
			и 26% на повторном кодировании. Этот недостаток выделяет значение увеличенных скоростей и кадров более чем из одного слота.
		</p>
	</div>
</div>
