<div>
	<h1 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-tight text-inherit mb-4">
		Список литературы
	</h1>
	<div class="text-container">
		<div class="text-wrapper">
			<p>
				1.	Статья: Обзор беспроводных нательных сетей <br/>
				[Электронный ресурс] URL:
				<a class="active" href="https://cyberleninka.ru/article/n/obzor-tehnologiy-besprovodnyh-natelnyh-setey/viewer">https://cyberleninka.ru/article/n/obzor-tehnologiy-besprovodnyh-natelnyh-setey/viewer</a>  <br/>
				(Дата обращения 10.05.2023)
			</p>
			<p>
				2.	Статья: СТАНДАРТЫ И ТЕХНОЛОГИИ БЕСПРОВОДНЫХ СЕТЕЙ СВЯЗИ БЛИЖНЕГО РАДИУСА ДЕЙСТВИЯ <br/>
				[Электронный ресурс] URL:
				<a class="active" href="https://mai.ru/upload/iblock/e20/k7hcoan2khtfobr217xg5elxky4nnuti/.Letfullin.pdf">https://mai.ru/upload/iblock/e20/k7hcoan2khtfobr217xg5elxky4nnuti/.Letfullin.pdf</a>  <br/>
				(Дата обращения 10.05.2023)
			</p>
			<p>
				3.	Статья: Анализ современных стандартов 802.15.3 <br/>
				[Электронный ресурс] URL:
				<a class="active" href="https://cyberleninka.ru/article/n/analiz-sovremennyh-standartov-mcwill-td-scdma-wcdma-ieee-802-15-3a-dlya-primeneniya-v-sshp-sistemah/viewer">https://cyberleninka.ru/article/n/analiz-sovremennyh-standartov-mcwill-td-scdma-wcdma-ieee-802-15-3a-dlya-primeneniya-v-sshp-sistemah/viewer</a>  <br/>
				(Дата обращения 10.05.2023)
			</p>
			<p>
				4.	Статья: Семейство стандартов IEEE 802.15 Bluetooth (IEEE 802.15.1) <br/>
				[Электронный ресурс] URL:
				<a class="active" href="https://ru.readkong.com/page/semeystvo-standartov-ieee-802-15-bluetooth-ieee-802-15-1-7878681">https://ru.readkong.com/page/semeystvo-standartov-ieee-802-15-bluetooth-ieee-802-15-1-7878681</a> <br/>
				(Дата обращения 10.05.2023)
			</p>
			<p>
				5.	Статья: Bluetooth изнутри <br/>
				[Электронный ресурс] URL:
				<a class="active" href="https://kunegin.com/ref3/blue/inside.htm">https://kunegin.com/ref3/blue/inside.htm</a> <br/>
				(Дата обращения 20.06.2023)
			</p>
		</div>
	</div>
</div>
