<div>
	<p class="top text-center">
		Федеральное государственное бюджетное образовательное учреждение высшего образования <br/>
		Уфимский университет науки и технологий
	</p>
	<p class="department text-center mb-60">
		Кафедра вычислительной техники и защиты информации
	</p>
	<p class="theme text-center mb-60">
		Курсовая работа по дисциплине «Сети и системы передачи информации»<br/>
		на тему:«Анализ технологий беспроводных сетей по стандартам 802.15»
	</p>
	<p class="completed text-right mb-40">
		Выполнили: ст. гр. ИБ-328<br/>
		Япаров Р.А.<br/>
		Проверил:<br/>
		Гараев Р.А.
	</p>
	<p class="footer text-center">
		Уфа 2023
	</p>
</div>

