<header class="bg-white w-full max-w-[72%] p-4 shadow-xl shadow-blue-gray-900/5 rounded-lg ml-auto left-4 mr-4 mb-4">
	<nav class="mx-auto flex max-w-7xl items-center place-content-center p-6 lg:px-8" aria-label="Global">
		<div class="hidden lg:flex lg:gap-x-12">
			<div class="flex lg:flex-1">
						<span class="text-sb font-semibold leading-6 text-gray-900 text-xl -m-1.5 p-1.5">
							Анализ технологий беспроводных сетей по стандартам 802.15
						</span>
			</div>
		</div>
	</nav>
</header>
